<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<body>
  <div id="container">
    <header id="header">
    <div id="login">
      <a href="powertriangle.php">Login</a>
    </div>
    <div id="crestlogo">
      <a href="/">
        <%= image_tag 'akpsilogo.png' %>

      </a>
      <p>
        <span>University of <br>Pennsylvania</span>
        <span id="comma">,</span>
        <span>Epsilon Rho <br>Chapter</span>
      </p>
    </div>
  <nav id="navbar">
    <ul>
      <li id="home"><a href="index.php">Home</a></li>
      <li id="ourFrat"><a href="page.php?page=about-akpsi">Our Fraternity</a>
        <ul class="drop">
          <li id="topborder"><a href="page.php?page=about-akpsi">About Epsilon Rho</a></li>
          <li><a href="page.php?page=history">Our History</a></li>
          <li><a href="page.php?page=exec-board">Executive Board</a></li>
        </ul>
      </li>
      <li id="ourBros"><a href="brothers.php?page=current">Our Brothers</a>
        <ul class="drop">
          <li id="topborder"><a href="brothers.php?page=current">Current Brothers</a></li>
          <li><a href="brothers.php?page=alumni">Alumni</a></li>
        </ul>
      </li>
      <li id="what"><a href="page.php?page=me-week">What We Do</a>
        <ul class="drop">
          <li id="topborder"><a href="page.php?page=me-week">Media & Entertainment Week</a></li>
          <li><a href="page.php?page=aspire-to-excellence">Aspire to Excellence</a></li>
          <li><a href="page.php?page=community-service">Community Service</a></li>
          <li><a href="page.php?page=business-services">Business Services</a></li>
          <li><a href="page.php?page=internal-professional">Internal <br>Professional</a></li>
        </ul>
      </li>
      <li id="rush"><a href="page.php?page=rush-welcome">Rush Us</a>
        <ul class="drop">
          <li id="topborder"><a href="page.php?page=rush-welcome">Welcome</a></li>
          <li><a href="page.php?page=rush-events">Events</a></li>
          <li><a href="page.php?page=rush-faq">FAQ</a></li>
          <li><a href="page.php?page=rush-application">Application</a></li>
        </ul>
      </li>
      <li id="contact"><a href="contactus.php">Contact Us</a></li>
    </ul>
  </nav></header><section id="menu" class="content"><a href="index.php">Alpha Kappa Psi</a> &#187; <a href="page.php?page=about-akpsi">Our Fraternity</a> &#187; <span class="current">About Epsilon Rho</span></section><section class="content"><span id="pagetitle">About Epsilon Rho</span><div id="text"><p><p><span id="contenttitle">Letter from the President</span></p><p>As America's largest and oldest business fraternity, Alpha Kappa Psi has long prided itself as the premier developer of principled business leaders. For over 100 years, Alpha Kappa Psi has cultivated the world's leaders and innovators, seen from some of our alumni which include former Presidents Richard Nixon and Ronald Reagan, Wal-Mart Founder Sam Walton, publishing magnate Malcolm Forbes, and much more.</p> 
<p>Here at Penn and Wharton, we are proud that our brothers continue to innovate not only within our fraternity but also with other organizations on campus and beyond. As just one example of AKPsi's leadership at the University of Pennsylvania, we recently established the Corporate Benefit, a ground-breaking event which connects our pillars of people, professionalism, and philanthropy. We hosted McDonald's CEO Jim Skinner, Johnson & Johnson's Vice Chairman Christine Poon, representatives from many of the most respected firms in the business world, and hundreds of Penn students for an evening to celebrate and support the Philadelphia community.</p>
<p>As brothers of Alpha Kappa Psi, we are united by our passion for business, commitment to brotherhood, and dedication to the community. Through the resources available exclusively to AKPsi brothers and the invaluable support we provide to one another, we count among our membership leaders of other campus organizations, members of Deans' Lists, successful entrepreneurs, and valued members of the community.</p>
<p>When our brothers move on after college, they join our worldwide alumni network -- stretching over 125,000 members -- more prepared, more confident, and more connected. Whether you are a prospective brother, treasured alumnus, collegiate colleague, or corporate partner, I invite you to see for yourself why we are all proud to call ourselves lifetime Brothers of Alpha Kappa Psi.</p>
<p>Sincerely,</p>
<img alt="joshualiang.png" src="img/bros/joshualiang.png" width="162" height="216" />
<p>Joshua Liang <br>President, 2013</p></p></div><div id="footer">
    <span>&copy; Alpha Kappa Psi 2013 | Jonathan Hwa & Connie Yuan</span>
  </div></section>
</div>
</body>

<script type="text/javascript">
  //Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38177238-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</html>
</body>
</html>
