<!DOCTYPE html>
<html>
<head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<body>
    <div id="container">
        <header id="header">
            <div id="login">
                <a href="powertriangle.php">Login</a>
            </div>

            <div id="crestlogo">
                <%= link_to(image_tag('akpsilogo.png', :alt => 'Alpha Kappa Psi'), root_path) %>
                <p>
                    <span>University of <br>Pennsylvania</span>
                    <span id="comma">,</span>
                    <span>Epsilon Rho <br>Chapter</span>
                </p>
            </div>

            <nav id="navbar">
                <ul>
                    <li id="home"><%= link_to 'Home', '/' %></li>
                    <li id="ourFrat"><%= link_to 'Our Fraternity', '/about-epsilon-rho' %>
                        <ul class="drop">
                            <li id="topborder"><%= link_to 'About Epsilon Rho', '/about-epsilon-rho' %></li>
                            <li><%= link_to 'Our History', '/our-history' %></li>
                            <li><a href="page.php?page=exec-board">Executive Board</a></li>
                        </ul>
                    </li>
                    <li id="ourBros"><a href="brothers.php?page=current">Our Brothers</a>
                        <ul class="drop">
                            <li id="topborder"><a href="brothers.php?page=current">Current Brothers</a></li>
                            <li><a href="brothers.php?page=alumni">Alumni</a></li>
                        </ul>
                    </li>
                    <li id="what"><a href="page.php?page=me-week">What We Do</a>
                        <ul class="drop">
                            <li id="topborder"><a href="page.php?page=me-week">Media & Entertainment Week</a></li>
                            <li><a href="page.php?page=aspire-to-excellence">Aspire to Excellence</a></li>
                            <li><a href="page.php?page=community-service">Community Service</a></li>
                            <li><a href="page.php?page=business-services">Business Services</a></li>
                            <li><a href="page.php?page=internal-professional">Internal <br>Professional</a></li>
                        </ul>
                    </li>
                    <li id="rush"><a href="page.php?page=rush-welcome">Rush Us</a>
                        <ul class="drop">
                            <li id="topborder"><a href="page.php?page=rush-welcome">Welcome</a></li>
                            <li><a href="page.php?page=rush-events">Events</a></li>
                            <li><a href="page.php?page=rush-faq">FAQ</a></li>
                            <li><a href="page.php?page=rush-application">Application</a></li>
                        </ul>
                    </li>
                    <li id="contact"><a href="contactus.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>

        <!-- Breadcrumbs -->
        <section id="menu" class="content">
            <a href="index.php">Alpha Kappa Psi</a> &#187; 
            <a href="page.php?page=about-akpsi">Our Fraternity</a> &#187;
            <span class="current">About Epsilon Rho</span>
        </section>

        <!-- Page content -->
        <%= yield %>
        
        <!-- Footer -->
        <div id="footer">
            <span>&copy; Alpha Kappa Psi 2013 | Jonathan Hwa &amp; Connie Yuan</span>
        </div>
    </div>
</body>
</html>